ul {
	display: inline-block;
}

ul.left {
	background-color: blue;
	font-family: sans-serif;
	color : yellow;
	width : 30%;
	float: left;
	margin-left: 15%;
	font-size: 15px;

}

ul.right{
	background-color: yellow;
	font-family: serif;
	color : green;
	width:30%;
	font-size: 15px;
	margin-left: 10px;
}

button.left{
	margin-left: 30%;
}

button.right{
	margin-left: 30%;
}
#create{
	margin-left: 45%;
}