#left {
    width: 49%;
    height: 70px;
    font-size:40px;
    font-weight:bold;
}
#left:hover {
    color:red;
    background-color: darkgray
}
#right {
    width: 49%;
    height: 70px;
    font-size:40px;
    font-weight:bold;
}
#right:hover {
    color:red;
    background-color: darkgray
}
#create {
    width:100%;
    height:45px;
    font-size:40px;
    font-weight:bold;
}
#create:hover {
    color:red;
    background-color: darkgray
}
#leftList {
    background-color:gray;
    color:red;
    font-size:17px;
    font-weight:bold;
}
#leftList:hover {
    background-color:grey;
    color:blue;
}
#rightList {
    background-color:gray;
    color:red;
    font-size:17px;
    font-weight:bold;
}
#rightList:hover {
    background-color:grey;
    color:blue;
}
table {
    margin-left:auto;
    margin-right:auto
}